*.7z
*.bak
*.class
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.o
*.pdf
*.rar
*.so
*.sql
*.sqlite
*.tar
*.tmp
*.zip
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.env
/.phpunit.cache
/bak
/node_modules
/public/bak
/public/build
/public/hot
/public/storage
/storage/*.key
/temp
/tmp
/vendor
ehthumbs.db
Thumbs.db
.env.backup
.env.production
.phpunit.result.cache
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
