
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-card {
    flex: 0 0 100%;
    padding: 0 15px;
}

.card-body {
  background-color: var(--grey);
  text-align: center;
}

@media (min-width: 768px) {
    .carousel-card {
        flex: 0 0 50%;
    }
}

@media (min-width: 992px) {
    .carousel-card {
        flex: 0 0 25%;
    }
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px; /* Increased padding for larger buttons */
    font-size: 24px; /* Increased font size for larger arrows */
    cursor: pointer;
    z-index: 1;
}

.carousel-button.prev {
    left: 0px;
}

.carousel-button.next {
    right: 0px;
}
