
.footer-brand img {
    max-width: 260px;
    height: auto;
    background: none;
    border-radius: 0.4em;
    display: block;
    left: 0px;
}

/* Responsive tweak for footer columns and logo centering */
@media (max-width: 991.98px) {
    .footer-brand {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center !important;
    justify-content: center !important;
    width: 100% !important;
    flex-basis: 100%;
    display: flex !important;
    }
    .footer-brand img {
    max-width: 110px;
    max-height: 46px;
    }
    .footer-copyright {
    margin-top: 2rem;
    text-align: center;
    }
}
