
.form-container .mktoFormRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-container .mktoFieldWrap {
    width: 48%;
    margin-bottom: 1rem;
}
@media (max-width: 767px) {
    .form-container .mktoFieldWrap {
    width: 100%;
    }
}
.form-container .mktoButtonRow {
    width: 100%; /* Ensure button spans full width */
    text-align: center; /* Center the button */
    margin-top: 1rem; /* Add some space above the button */
}
